@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}

h1 {
  font-family: "Poppins-ExtraBold", sans-serif;
}
h2 {
  font-family: "Poppins-Bold", sans-serif;
}
h3 {
  font-family: "Poppins-SemiBold", sans-serif;
}
h4 {
  font-family: "Poppins-Medium", sans-serif;
}
body {
  font-family: "Poppins-Regular", sans-serif;
}
span {
  font-family: "Poppins-Regular", sans-serif;
}
p {
  margin: 0px !important;
}

/* .row {
  --bs-gutter-x: 0 !important;
} */

/* .//////////////////////////////////// */
/* ............Navbar CSS................. */
/* .//////////////////////////////////// */
.page-down-link {
  font-size: clamp(17px, 3vw, 28px);
}
.navabar-outer {
  height: 150px;
  border-bottom: 3px solid #8080805c !important;
  /* margin-top: 15px; */
}

.fs5 {
  font-size: 1.1rem;
  /* font-size: clamp(17px, 2vw, 24px); */
}

/* @media (min-width: 1300px) {
  .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
  }
} */
@media (max-width: 1400px) {
  .navabar-outer {
    min-height: 135px;
    height: auto;
  }
}
@media (min-width: 1400px) {
  .container-md {
    max-width: 1700px !important;
  }
}
@media (max-width: 576px) {
  .navbar-brand img {
    max-width: 150px;
  }
}
.request-btn {
  background-color: #c10230;
  border-radius: 22px;
  height: 35px;
  width: 160px;
}

/* .//////////////////////////////////// */
/* ........Home Page CSS............ */
/* .//////////////////////////////////// */
.home-component-head {
  font-size: clamp(35px, 5vw, 80px);
}
.lower-slider-container {
  min-height: 95vh;
}
@media (max-width: 1005px) {
  .lower-slider-container {
    min-height: 75vh;
  }
}
@media (max-width: 715px) {
  .lower-slider-container {
    min-height: 64vh;
  }
}
@media (max-width: 405px) {
  .lower-slider-container {
    min-height: 72vh;
  }
}
.home-hero-head {
  font-size: clamp(40px, 8vw, 107px);
  line-height: 96px;
}
.hero-container {
  max-width: 85%;
}
.bolder {
  font-weight: 900;
  text-decoration: none;
}
.decoration-none {
  text-decoration: none;
}
.redish {
  color: #c10230;
}
.bg-redish {
  background-color: #c10230;
}
.grayish {
  color: #333132;
}
.light-grayish {
  color: #33313282;
}
.yellowish {
  color: #f5a800;
}
.bg-yellowish {
  /* background-color: #f5a800 !important; */
  background-color: rgba(247, 168, 27, 1) !important;
}
.color-yellowish {
  color: rgba(247, 168, 27, 1);
}
.admission-btn {
  background-color: #c10230;
  border-radius: 40px;
  font-size: clamp(20px, 4vw, 42px);
}
.hero-container-color {
  background-color: #f6f6f6;
}
.discover-container-text {
  max-width: 78%;
}
@media (max-width: 778px) {
  .discover-container-text {
    max-width: 100%;
  }
  .home-hero-head {
    line-height: 63px;
  }
}
.video-container {
  max-width: 100%;
  min-height: 100%;
  border-radius: 22px;
}
.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 36px;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.programs-main-image-container {
  max-width: 100%;
  height: 500px;
}

.programs-main-image {
  object-fit: cover;
}
.border-radius {
  border-radius: 28px;
  overflow: hidden;
}
.programs-main-bottom-container {
  max-width: 100%;
  height: auto;
  background-color: rgba(247, 168, 27, 1);
  color: white;
  border-radius: 20px;
}
.programs-main-bottom-container:hover {
  background-color: #c10230 !important;
}

.logo-bg {
  height: 60px;
  width: 60px;
  background-color: white;
  text-align: center;
  border-radius: 35px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.responsive-video-container {
  position: relative;
  padding-bottom: 55.25%;
  /* padding-bottom: 44.25%;   */

  height: 0;
  overflow: hidden;
  max-width: 100%;
  /* max-width: 80%; */
  border-radius: 36px;
}

.responsive-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 36px; /* To make sure the video follows the container's border-radius */
}

.parent-img-1 {
  max-width: 320px;
  max-height: 280px;
  margin-left: 2vw;
}

.parent-img-3 {
  max-width: 219px;
  max-height: 260px;
}
.prent-container .row {
  --bs-gutter-x: 0;
}
.slider-row {
  border: 3px solid #0000004a;
  border-radius: 38px;
}
@media (max-width: 992px) {
  .programs-main-image-container {
    height: 323px;
  }
}
@media (max-width: 778px) {
  .programs-main-image-container {
    height: 500px !important;
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    width: 3rem !important;
    height: 3rem !important;
    margin-right: 10px;
    margin-left: 10px;
  }

  .carousel__navigation {
    bottom: 3% !important;
  }
}

@media (max-width: 576px) {
  .carousel__navigation {
    bottom: -1% !important;
  }

  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    margin-top: 26.5% !important;
  }
}
@media (max-width: 458px) {
  .programs-main-image-container {
    height: 323px !important;
  }
  .carousel::before,
  .carousel::after {
    background-size: 1.2rem 1.2rem !important;
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    width: 2rem !important;
    height: 2rem !important;
    margin-right: 21px;
    margin-left: 21px;
  }
  .slider-row {
    border: 2px solid #0000004a;
    border-radius: 14px;
  }
  .carousel__navigation-button {
    width: 15px !important;
    height: 15px !important;
  }
}

/*........... Tesstimonials Slider............ */
.glide__slide img {
  max-width: 100%;
  /* min-height: auto; */
  margin: auto;
}

.glide__slide {
  position: relative;
  text-align: center;
  transition: 0.3s ease-in-out;
  /* height: auto !important; */
  max-width: 666px !important;
  max-height: 470px !important;
  transform: scale(0.8, 1);
  /* transform: scale(1); */
  /* margin-top: 37px; */
}
.glide__slide--active {
  /* transform: scale(1.2, 1.4) !important; */
  transform: scale(1.4, 1.5) !important;
  z-index: 2;
  margin-top: 12px;
  /* margin-top: 20px !important; */
  /* max-width: 777px !important; */
  /* max-height: 472px !important; */
}
.descrip {
  font-size: 15px;
}
.glide__slide--active .descrip {
  font-size: 13px !important;
}
.glide__slide--active .p-name {
  font-size: 1.1rem !important;
}

.glide__slides {
  /* overflow: visible !important; */
  padding-top: 72px !important;
  padding-bottom: 120px !important;
}
.glide__track {
  /* overflow: visible !important; */
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
.glide__arrow {
  top: 44% !important;
}
.glide__arrow--left {
  left: 0em !important;
}
.glide__arrow--right {
  right: 0em !important;
}
.color-pink {
  color: rgba(193, 2, 48, 1);
}
.color-black {
  color: black;
}
.coma-img {
  position: absolute;
  bottom: -27px;
  right: 13px;
  width: 70px;
  height: 56px;
  display: none;
}
.glide__slide--active .coma-img {
  display: block !important;
}
@media (max-width: 800px) {
  .glide__slide--active {
    transform: scale(0.97, 1.5) !important;
  }
  .glide__arrow--left {
    left: -1em !important;
  }
  .glide__arrow--right {
    right: -1em !important;
  }
  .coma-img {
    bottom: -17px !important;
    width: 70px !important;
    height: 37px !important;
  }
}
@media (max-width: 660px) {
  .glide__arrow {
    padding: 8px 8px !important;
  }
  .glide__arrow img {
    width: 16px;
  }
}
@media (max-width: 500px) {
  .descrip {
    font-size: 13px !important;
  }
  .p-name {
    font-size: 16px !important;
  }
  .glide__slide--active {
    transform: scale(0.97, 1.2) !important;
  }
}
.outer-container {
  max-width: 1500px;
}

/* .//////////////////////////////////// */
/* .......Meet Team CSS............ */
/* .//////////////////////////////////// */
h1 .redish {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* color: inherit; */
}
.team-container-text {
  max-width: 100%;
}
.hero-team-container {
  max-width: 85%;
  border-radius: 25px;
  background-color: #f7f9f9f9;
}
.hero-team-container-two {
  max-width: 85%;
  border-radius: 25px;
  background-color: #f7f9f9f9;
}
.team-container {
  /* background-color: white; */
}
.team-name-fs {
  font-size: clamp(20px, 8vw, 42px);
}
.team-fs-head-two {
  font-size: clamp(15px, 2vw, 30px);
}
.team-profile-image {
  max-width: 400px;
  /* min-width: 250px; */
  height: 350px;
  border-radius: 25px;
  border: 6px solid white;
  object-fit: cover;
}
.team-object-position {
  object-position: top;
}
.team-row {
  border-radius: 25px;
}
.team-decsrip {
  line-height: 34px;
  font-size: 22px;
  font-size: clamp(13px, 2vw, 22px);
}
@media (max-width: 1200px) {
  .hero-team-container-two {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .banner-container img {
    height: 100% !important;
  }

  .hero-team-container {
    max-width: 100% !important;
  }
  .team-decsrip {
    line-height: 34px;
  }
  .hero-team-container-two {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .hero-team-container {
    max-width: 100% !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .team-banner-decrip {
    font-size: 18px !important;
  }
  .hero-team-container-two {
    max-width: 100%;
  }
}

/* .//////////////////////////////////// */
/* .......Reggio Emilia CSS............ */
/* .//////////////////////////////////// */

.emillia-container .col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.emillia-container img {
  object-fit: cover;
}
.emillia-container {
  width: 62%;
}
.emillia-down-head {
  font-size: clamp(19px, 5vw, 48px);
}
.emillia-fs {
  font-size: clamp(14px, 2vw, 26px);
}
.emillia-container .emillia-small {
  padding: 1rem !important;
}
.emillia-container-inner {
  min-height: 345px !important;
}
.emillia-water-img {
  max-width: 300px;
}
@media (max-width: 1500px) {
  .emillia-container {
    width: 75% !important;
  }
}

@media (max-width: 700px) {
  .emillia-fs {
    font-size: clamp(14px, 1vw, 18px) !important;
  }
}
@media (max-width: 576px) {
  .emillia-text-container {
    border-radius: 1rem;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
}

/* .//////////////////////////////////// */
/* .......MSH Locations CSS............ */
/* .//////////////////////////////////// */
h1 .location-head-banner {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* color: inherit; */
}
.msh-location-banner {
  margin-top: 60px;
}
.location-head-banner {
  font-size: clamp(40px, 7vw, 129px);
}
.location-fs {
  font-size: clamp(14px, 2vw, 18px);
}
.location-fs p:not(:first-child) {
  margin-top: 10px;
}
.location-fs p {
  margin-bottom: 0px !important;
}
.location-head {
  font-size: clamp(40px, 10vw, 129px);
}
.location-head-sub {
  font-size: clamp(28px, 5vw, 55px);
}
.location-fs-head {
  font-size: clamp(20px, 2vw, 40px);
}
.location-container {
  width: 75%;
}
.line-height-36 {
  line-height: 43px;
}
.emillia-text-container.line-height-36 p,
h3 {
  font-size: clamp(15px, 3vw, 25px);
}
.msh-bino-img {
  position: absolute;
  right: 0;
  width: 13vw;
  top: 0;
}
/* .location-border {
  border: 5px solid #c10230;
} */
.location-border:hover {
  outline: 5px solid #c10230;
}
@media (max-width: 1500px) {
  .location-container {
    width: 85% !important;
  }
}
@media (max-width: 1200px) {
  .location-container {
    width: 60% !important;
  }
  .location-right {
    order: 1;
  }

  .location-left {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .location-default-img {
    height: 291px;
    width: 560px;
  }
}
@media (max-width: 768px) {
  .location-container {
    width: 80% !important;
  }
}
@media (max-width: 576px) {
  .line-height-36 {
    line-height: 30px;
  }
}

/* @media (max-width: 442px) {
  .msh-location-banner {
    margin-top: 0px;
  }
} */

/* .//////////////////////////////////// */
/* .......Our Programs CSS............ */
/* .//////////////////////////////////// */
h1 .yellowish {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* color: inherit; */
}
.section-head {
  font-size: clamp(45px, 5vw, 98px);
}
.program-container {
  width: 82%;
}
.programs-default-img {
  max-height: 342px;
}
.programs-img-container {
  max-width: 100%;
}
.programs-image-water {
  max-width: 450px;
  max-height: 360px;
}
.program-fs {
  font-size: clamp(14px, 2vw, 27px);
}
.program-fs-head {
  font-size: clamp(18px, 4vw, 37px);
}
.program-fs-head-three {
  font-size: clamp(13px, 2vw, 24px);
}

.program-fs-head-two {
  font-size: clamp(14px, 2vw, 35px);
}
.bg-litegray {
  background-color: #d3d3d345;
}
.program-banner-img img {
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .program-head {
    width: 86%;
  }
  .programs-image {
    max-width: 300px;
    max-height: 266px;
  }
}
@media (min-width: 1280px) {
  .program-top-banner {
    min-width: 375px;
  }
}

@media (max-width: 768px) {
  .programs-img-container img {
    max-width: 250px !important;
  }
}
.program-email {
  font-size: clamp(18px, 4vw, 34px);
}
.program-video-cap {
  font-size: clamp(20px, 4vw, 52px);
}

/* .//////////////////////////////////// */
/* .......Contact Us CSS............ */
/* .//////////////////////////////////// */

.bg-grayish {
  background-color: #f7f9f9f9;
}
.contact-container-inner {
  min-height: 345px !important;
}
.contact-container-inner input,
textarea {
  border: none !important;
}
.contact-container {
  width: 75% !important;
}
.location-select-container {
  min-height: 150px;
}
.location-select-container img {
  width: 35px;
}
.btn-group {
  display: block !important;
}
.btn-group label {
  margin: 20px;
  min-width: 100px !important;
  border-radius: 0.5rem !important;
  border: none !important;
  background-color: #33313221 !important;
  color: black !important;
  padding: 2px 15px 2px 15px;
}
.btn-check:checked + .btn {
  color: white !important;
  background-color: #c10230 !important;
}
.btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: 20px !important;
}
@media (max-width: 1500px) {
  .contact-container {
    width: 85% !important;
  }
}
@media (max-width: 576px) {
  .btn-group label {
    margin: 8px 0px 8px 0px;
    border: none !important;
    padding: 4px 5px 4px 5px;
    width: 100%;
  }
  .btn-group > :not(.btn-check:first-child) + .btn {
    margin-left: 0px !important;
  }
  .location-select-container .fs-5 {
    font-size: 1.15rem !important;
  }
}

.contact-fs {
  font-size: clamp(18px, 2vw, 26px);
}
/* .//////////////////////////////////// */
/* .......FAQ Page CSS............ */
/* .//////////////////////////////////// */

.faq-container {
  width: 80% !important;
}
.accordion-container {
  width: 80%;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../images/Group 6.png") !important;
}
.accordion-button:not(.collapsed) {
  color: #c10230;
  background-color: white !important;
}
.accordion-button::after {
  background-image: url("../images/Group 7.png") !important;

  width: 2.5rem !important;
  height: 2.4rem !important;
  background-size: 2.4rem !important;
}
.accordion-item {
  border: none;
}
.accordion-button {
  border: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-collapse {
  border-top: none;
}
.accordion-item {
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}
.faq-fs {
  font-size: clamp(12px, 2vw, 26px);
}
.faq-fs-desc {
  font-size: clamp(12px, 2vw, 24px);
}
@media (max-width: 1500px) {
  .faq-container {
    width: 85% !important;
  }
}
@media (max-width: 576px) {
  .contact-decrip {
    font-size: 16px !important;
  }
  .accordion-container {
    width: 100% !important;
  }
}

/* .//////////////////////////////////// */
/* .......Admission Page CSS............ */
/* .//////////////////////////////////// */

.admission-head {
  width: 100%;
}
.enrollment-list li {
  font-size: clamp(14px, 2vw, 26px);
  line-height: 44px;
}
.admission-fs {
  font-size: clamp(18px, 2vw, 37px);
}
.registration-fs {
  font-size: clamp(20px, 2vw, 40px);
}
.registration-desc-fs {
  font-size: clamp(17px, 2vw, 34px);
}
.registration-info-decrip {
  font-size: clamp(14px, 2vw, 30px);
}
.admission-fs-head-two {
  font-size: clamp(14px, 2vw, 31px);
}
.admission-descrip-fs {
  font-size: clamp(14px, 2vw, 26px);
  line-height: 44px;
}
.admission-btn-fs {
  font-size: clamp(14px, 2vw, 26px);
}
.admission-banner-img img {
  max-height: 664px;
  object-fit: cover;
  object-position: bottom;
}
.admission-container {
  width: 80%;
}
.admission-text {
  background-color: #c10230;
  border-radius: 40px;
  max-width: fit-content;
}
.admission-border {
  border-bottom: 2px solid #33313247;
  border-radius: 0px;
}
.programs-container-inner ul {
  list-style-type: disc !important;
  padding-left: 23px;
}

.programs-container-inner ul li {
  display: list-item !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admission-arrow-container {
  background-color: #f5a800;
  max-width: fit-content;
  border-radius: 50%;
  padding: 8px 10px;
}
.admission-arrow-container:hover {
  background-color: #c10230 !important;
}
.admission-arrow-container img {
  width: 14px;
}
.admission-arrow-outer-container {
  width: 82%;
}
.admission-info-container {
  width: 100% !important;
}
.admission-fs-head {
  font-size: clamp(29px, 5vw, 70px);
}
@media (max-width: 768px) {
  .admission-info-container {
    width: 85% !important;
  }
}
@media (max-width: 576px) {
  .admission-bottom-decrip {
    font-size: 20px !important;
  }

  .admission-descrip-fs {
    font-size: clamp(16px, 2vw, 26px) !important;
    line-height: 28px !important;
  }
  .enrollment-list li {
    font-size: clamp(16px, 2vw, 26px) !important;
    line-height: 28px !important;
  }
}
@media (max-width: 1500px) {
  .admission-container {
    width: 85% !important;
  }
}

/* video player css */
.video-js .vjs-tech {
  height: 110% !important;
}
.vjs-poster img {
  object-fit: cover !important;
}
.video-js {
  border-radius: 1rem !important;
  overflow: hidden;
  width: 80vw;
  height: 40vw;
}

.home-descrip-fs-two {
  font-size: clamp(18px, 2vw, 28px);
  line-height: 43px;
}
.home-descrip-fs {
  font-size: clamp(18px, 2vw, 24px);
}
.home-fs-head-three {
  font-size: clamp(13px, 5vw, 24px);
}
.home-fs-head {
  font-size: clamp(18px, 5vw, 28px);
}

/* ////////////////////////////////// */
/* vectors css  */
/* ////////////////////////////////////////////// */
.discover-outer {
  position: relative;
  margin-top: 200px;
}

.left-vector-discover {
  /* position: absolute;
  left: 3vw;
  top: 20%;
  height: 90%;
  max-width: 100%;
  top: 14vh; */
  position: absolute;
  left: 3vw;
  /* top: 20%; */
  height: 82%;
  max-width: 100%;
  top: 17vh;
}
.program-container {
  width: 90%;
}
.right-vector-msh {
  position: absolute;
  right: 10vw;
  top: 29vh;
  max-width: 100%;
  height: 90%;
  transition: all 0.3s ease;
}
.testimonial-bottom-vector {
  position: absolute;
  left: 18vw;
  bottom: 0;
  height: 54%;
  /* max-width: 100%; */
  top: 38vh;
}


.top-vector-discover {
  position: absolute;
  top: -25%;
  width: 59vw;
  left: 9vw;
}
.program-vector-curve {
  position: absolute;
  top: 27vh;
  width: 78vw;
  left: 2vw;
  height: 90%;
}
.discover-img {
  position: absolute;
  top: 4vh;
  width: 17vw;
  left: -9vw;
}
.baby-progr {
  /* position: absolute;
  top: 3vh;
  width: 200px;
  left: 0vw; */
  position: absolute;
  top: 3vh;
  width: 161px;
  left: 0vw;
}

@media (max-width: 1300px) {
  .discover-outer {
    margin-top: 100px !important;
  }
  .top-vector-discover {
    top: -18% !important;
  }
}

@media (max-width: 1050px) {
  .discover-outer {
    margin-top: 0px !important;
  }
  .discover-img {
    display: none;
  }
  .top-vector-discover {
    display: none;
  }
  .left-vector-discover {
    display: none;
  }
  .program-vector-curve {
    display: none;
  }
  .baby-progr {
    display: none;
  }
  .right-vector-msh {
    display: none;
  }
  .testimonial-bottom-vector {
    display: none;
  }
  .parent-img-1 {
    display: none;
  }
}
@media (max-width: 576px) {
  .home-descrip-fs-two {
    line-height: 32px;
  }
}

/* .//////////////// */
/* FAQ PAge Vector */
/* ///////////////// */
.faq-vector-left {
  position: absolute;
  right: 104%;
  top: 28px;
  width: 39vw;
}
.faq-vector-right {
  position: absolute;
  left: 104%;
  top: -60%;
  width: 27vw;
}
@media (max-width: 1560px) {
  .faq-vector-left {
    width: 33vw !important;
  }
}

@media (max-width: 600px) {
  .faq-vector-left {
    width: 33vw !important;
  }
  .faq-vector-right {
    width: 33vw !important;
    top: -33px !important;
  }
}

@media (max-width: 410px) {
  .faq-vector-left {
    width: 28vw !important;
  }
  .faq-vector-right {
    width: 29vw !important;
    top: -18px !important;
  }
}

/* .//////////////// */
/* Contact Us PAge Vector */
/* ///////////////// */
.contact-head {
  font-size: clamp(34px, 10vw, 129px);
}
.contact-vector-left {
  position: absolute;
  right: 104%;
  top: 44px;
  width: 26vw;
}
.contact-vector-right {
  position: absolute;
  left: 102%;
  top: -58%;
  width: 20vw;
}
@media (max-width: 1690px) {
  .contact-vector-left {
    right: 104%;
    top: 44px;
    width: 21vw;
  }
}
@media (max-width: 1200px) {
  .contact-vector-left {
    right: 104%;
    top: 44px;
    width: 18vw;
  }

  .contact-vector-right {
    position: absolute;
    left: 102%;
    top: -58%;
    width: 17vw;
  }
}
@media (max-width: 600px) {
  .contact-vector-right {
    top: -8px !important;
  }
}

@media (max-width: 480px) {
  .contact-vector-right {
    top: -8px !important;
    width: 15vw;
  }
  .contact-vector-left {
    width: 16vw !important;
  }
}

/* .//////////////// */
/* Reggio Emillia Page Vector */
/* ///////////////// */
h1 .color-yellowish {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* color: inherit; */
}
.top-reggio-vector {
  position: absolute;
  top: -10vh;
  right: 22%;
  width: 76vw;
  height: 100vh;
}
.mid-reggio-vector {
  position: absolute;
  right: 6%;
  top: 3vh;
  width: 13%;
  height: 110vh;
}

.bottom-reggio-vector {
  position: absolute;
  left: 8%;
  top: 3vh;
  width: 30%;
  height: 160vh;
}
@media (max-width: 1500px) {
  /* .top-reggio-vector {
    width: 77vw;
    height: 106vh;
  } */
  .mid-reggio-vector {
    right: 2%;
    height: 111vh;
  }
  .bottom-reggio-vector {
    position: absolute;
    left: 2%;
    top: 3vh;
    width: 36%;
    height: 154vh;
  }
}
@media (max-width: 1350px) {
  .bottom-reggio-vector {
    position: absolute;
    left: 2%;
    top: 3vh;
    width: 34%;
    height: 153vh;
  }
}
@media (max-width: 1300px) {
  /* .top-reggio-vector {
    width: 65vw !important;
    height: 80vh;
  } */
  .mid-reggio-vector {
    right: 2%;
    height: 106vh;
  }
}

/* @media (max-width: 1150px) {
  .mid-reggio-vector {
    right: 2%;
    height: 96vh;
  }
} */

@media (max-width: 1000px) {
  .top-reggio-vector {
    display: none;
  }
  .mid-reggio-vector {
    display: none;
  }
  .bottom-reggio-vector {
    display: none;
  }
}

/* .//////////////// */
/* Bootstrap Carousal CSS */
/* ///////////////// */

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0000004a;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-indicators {
  bottom: -55px;
}
.carousel-control-prev {
  opacity: 1;
  left: 0 !important;
}
.carousel-control-next {
  right: 0 !important;
  opacity: 1;
}
.boot-outer-next {
  border: 3px solid #0000004a;
  /* background-color: #c10230; */
  width: 51px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  right: -17px;
  position: absolute;
  /* outline: 3px solid white; */
  border-radius: 50%;
}
.boot-next {
  background-color: #c10230;
  width: 54px;
  height: 54px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  right: -16px;
  position: absolute;
  /* outline: 3px solid white; */
  border-radius: 38px;
  outline: 7px solid white;
}
.boot-next img {
  width: 20px;
  /* outline: 3px solid white; */
}
.boot-prev {
  background-color: #c10230;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  left: -20px;
  position: absolute;
  outline: 7px solid white;
}
.boot-prev img {
  width: 20px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #c10230 !important;
}
.carousel-control-next-icon {
}
.carousel-control-prev-icon {
  left: 0px;
  position: absolute;
}
@media (max-width: 567px) {
  .carousel-indicators [data-bs-target] {
    width: 7px;
    height: 7px;
  }
  .boot-next {
    right: -3px;
    width: 30px;
    height: 30px;
  }
  .boot-next img {
    width: 14px;
  }
  .boot-prev {
    right: -15px;
    width: 30px;
    height: 30px;
  }
  .boot-prev img {
    width: 14px;
  }
  .boot-outer-next {
    width: 41px;
    height: 46px;
    right: -17px;
  }
}

/* video plater icon change */
.video-js .vjs-big-play-button {
  width: 220px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}
.video-js .vjs-big-play-button::before {
  content: "\f144";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 80px;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder {
  display: none;
}
.vjs-theme-forest .vjs-big-play-button {
  color: #d3d3d3de !important;
  background-image: none !important;
}
@media (max-width: 567px) {
  .video-js .vjs-big-play-button::before {
    font-size: 40px;
  }
}
